<!DOCTYPE html>
<html>
<head>
  <title>Festigram</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-fixed-top">
    <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Festigram</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

    <ul class="nav navbar-nav navbar-right">
     
      <li class ="nav-item"><a class ="nav-link" href="/logout" > Log Out<i class="fa fa-user"></i></a></li>
    </ul>
  </div>
  </nav>
    <div class="container">
      <div class="jumbotron">
      	<h1>Dive in the greatness of festivals</h1>
        <h3>Festival list of 2020</h3>
      </div>
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a href="#">January
          <div class="tumbnail img-thumbnail ">
            <img class="img-fluid img-rwsornsive"  src="https://static.toiimg.com/photo/72975551.cms" alt="stairs">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <a href="#">February
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">March
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
           <a href="#">April
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">May
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">June
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">July
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">August
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">September
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">October
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">November
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>

        <div class="col col-lg-4 col-md-6 col-sm-6 col-xs-12">
        	<a href="#">December
          <div class="thumbnail img-thumbnail img-fluid img-rwsornsive">
            <img class="img-fluid img-rwsornsive" src="https://static.toiimg.com/photo/72975551.cms" alt="chandler">
          </div>
          </a>
        </div>
      </div>

    <div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-bottom navbar-fixed-bottom">
        <div class="container"><strong>Contact Us</strong>
        	<ul>
        		<li><a href="#">Mail</a></li>
        	</ul>
        </div> 
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>